In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
path_dir = 'C:/Users/dmqa/Desktop/workspace/Today-I-Learned/2022-1-ProbabilisticGraphicalModelAndNetworkData/dataset'

In [4]:
file_list = os.listdir(path_dir)

In [5]:
file_list

['공공자전거 대여이력 정보_2021.01.csv',
 '공공자전거 대여이력 정보_2021.02.csv',
 '공공자전거 대여이력 정보_2021.03.csv',
 '공공자전거 대여이력 정보_2021.04.csv',
 '공공자전거 대여이력 정보_2021.05.csv',
 '공공자전거 대여이력 정보_2021.06.csv',
 '공공자전거 대여이력 정보_2107.csv',
 '공공자전거 대여이력 정보_2108.csv',
 '공공자전거 대여이력 정보_2109.csv',
 '공공자전거 대여이력 정보_2110.csv',
 '공공자전거 대여이력 정보_2111.csv',
 '공공자전거 대여이력 정보_2112.csv']

In [6]:
final_data = pd.DataFrame()

In [9]:
for name in file_list:
    file_path = path_dir + '/' + name
    data = pd.read_csv(file_path, encoding = 'cp949')
    final_data = pd.concat([final_data,data])

C:\Users\dmqa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
final_data

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-53145,2021-01-02 20:50:36,3,중랑센터,0,2021-01-02 21:15:41,668,서울축산농협(장안지점),0,25.0,0.00
1,SPB-53074,2021-01-04 16:02:12,3,중랑센터,0,2021-01-04 16:17:06,668,서울축산농협(장안지점),0,14.0,0.00
2,SPB-50952,2021-01-13 21:02:05,3,중랑센터,0,2021-01-13 21:14:04,668,서울축산농협(장안지점),0,11.0,1853.99
3,SPB-52380,2021-01-14 21:02:55,3,중랑센터,0,2021-01-14 21:13:41,668,서울축산농협(장안지점),0,10.0,0.00
4,SPB-52380,2021-01-18 18:02:08,3,중랑센터,0,2021-01-18 18:15:22,540,군자역 7번출구 베스트샵 앞,0,13.0,2291.05
...,...,...,...,...,...,...,...,...,...,...,...
1704292,SPB-51882,2021-12-30 09:39:45,9999,상담센터,0,2021-12-30 09:52:44,346,맥스타일 앞,0,12.0,0.00
1704293,SPB-51134,2021-12-30 18:55:31,9999,상담센터,0,2021-12-30 18:59:04,1986,태평양물산빌딩,0,3.0,0.00
1704294,SPB-37732,2021-12-30 21:12:40,9999,상담센터,0,2021-12-30 21:15:54,188,홍은동 정원여중 입구,0,3.0,345.45
1704295,SPB-51854,2021-12-22 09:46:16,88888,영남배송,0,2021-12-22 10:03:24,236,문래동자이아파트 앞,0,17.0,0.00
1704296,SPB-53564,2021-12-22 14:38:04,99999,영남단말기정비,0,2021-12-22 14:39:29,9998,영남주차장 정비센터,0,1.0,0.00

In [16]:
length = []

for i in file_list:
    file_path = path_dir + '/' + i
    data = pd.read_csv(file_path, encoding = 'cp949')
    length.append(len(data))

In [14]:
len(final_data)

30788945

In [17]:
length

[806503,
 1226411,
 2171980,
 3027531,
 2935504,
 3445944,
 3361560,
 3219595,
 3645807,
 3028358,
 2215455,
 1704297]

In [18]:
sum(length)

30788945

In [23]:
final_data.describe()

           대여 대여소번호         반납거치대          이용시간          이용거리
count  3.078894e+07  3.078894e+07  3.078894e+07  3.078868e+07
mean   1.687332e+03  2.391550e+00  2.573564e+01  2.809887e+03
std    1.242911e+03  1.515913e+01  3.144494e+01  3.642709e+03
min    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    6.680000e+02  0.000000e+00  7.000000e+00  7.200000e+02
50%    1.362000e+03  0.000000e+00  1.500000e+01  1.556560e+03
75%    2.407000e+03  0.000000e+00  3.500000e+01  3.380000e+03
max    9.999900e+04  1.200000e+02  2.528404e+04  1.993206e+05

In [24]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30788945 entries, 0 to 1704296
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   자전거번호     object
 1   대여일시      object
 2   대여 대여소번호  int64
 3   대여 대여소명   object
 4   대여거치대     object
 5   반납일시      object
 6   반납대여소번호   object
 7   반납대여소명    object
 8   반납거치대     int64
 9   이용시간      float64
 10  이용거리      float64
dtypes: float64(2), int64(2), object(7)
memory usage: 2.8+ GB

In [25]:
final_data['반납거치대'].unique()

array([  0,   1,   8,  99,  11,   2,   6,   3,   4,   5,   7,  19,  10,
         9,  12,  17,  20,  14,  13,  15,  33,  16,  18,  27,  38,  23,
        21,  30,  40,  26,  22,  25,  28,  32,  29,  36,  24,  31,  37,
        34,  35,  39,  58,  52,  87,  54,  43,  49, 120,  57, 105, 107,
        60,  42,  86,  44,  71,  68, 108,  48,  62, 111,  50, 116,  41,
        84,  65,  69,  72, 118,  59,  46,  47,  53,  56, 115,  45, 106,
        74,  98,  55], dtype=int64)

In [28]:
final_data.shape

(30788945, 11)

In [31]:
final_data.shape

(30788945, 11)

In [33]:
len(final_data['대여 대여소번호'].unique())

2508

In [34]:
final_data['대여 대여소번호'].unique()

array([   3,    5,   10, ..., 9990, 9988, 9993], dtype=int64)